footer
  .container.text-center
    ul.pull-left.list-inline
      li
        a(href="http://www.twitch.tv/tasattack") Twitch
      li
        a(href='http://www.twitter.com/tasattack') Twitter
    p.pull-left 
      
    ul.pull-right.list-inline
      li
        a(href='/contact') Report Issue
      