extends layout

block content

  div(ng-app="myApp", ng-controller="MainCtrl")
    youtube-video.col-md-9.nopadding( video-id="videoid", player="videoPlayer", player-vars="videoVars" player-height="videoHeightNoChat()")
    div.col-md-3
      h2 {{currentPoll.currentRun.game}} 
      h4 Run by {{currentPoll.currentRun.runners.join(', ')}} 
      h4 {{currentPoll.currentRun.timeFormatted}} {{currentPoll.currentRun.catagory}}
      h4 tasvideos.org/{{currentPoll.currentRun.id}}.html
      hr
    div.col-md-3
      div(ng-repeat="run in currentPoll.runs")
        h4 {{$index + 1}}. {{run.game}} 
        h5 {{run.runners.join(', ')}} - {{run.timeFormatted}} {{run.catagory}}
        span.badge.alert-info(style='padding: 3px; float: left; width: 50px; text-align: center;') {{currentPoll.votesPerRun[$index]}}
        .progress(style="height:20px")
          .progress-bar.progress-bar-striped.progress-bar-info(role='progressbar', aria-valuenow="{{currentPoll.votesPerRun[$index]}}", ng-style="{width : ( currentPoll.votesPerRun[$index] / currentPoll.votesTotal * 100 + '%' ) }") 
      hr 
      h4 Time until next: {{timeLeft | date:'HH:mm:ss' : 'UTC'}}
      h4 Votes to skip: {{currentPoll.skipsTotal}} / {{currentPoll.votesTotal / 2 + 2}}
      h4 TASAttack.com
      h5 {{currentPoll.currentRun.description}}
      
      